<div class="container mt-5">
    <h1>Adicionar Cliente</h1>
</div>

<div class="container mt-3">
    <form asp-action="Adicionar" method="POST">
        <label for="nomeCliente">Nome Cliente</label>
        <input class="form-control" type="text" name="nomeCliente">
        <br>
        <label for="referenciaCliente">Referencia</label>
        <input class="form-control" type="text" name="referenciaCliente">
        <button class="btn btn-primary mt-2" type="submit">Criar</button>
    </form>
</div>