@model AspNet_ProjetoClix.Models.Item

@{
    ViewData["Title"] = "Adicionar Item";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Adicionar Item</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <form asp-action="Adicionar">
                <label class="input-label" asp-for="ClienteId"></label>
                <input class="form-control" asp-for="ClienteId" value='@ViewData["ClienteId"]' readonly>
                <label class="input-label" asp-for="Item1"></label>
                <input class="form-control" asp-for="Item1">
                <label class="input-label" asp-for="Item2"></label>
                <input class="form-control" asp-for="Item2">
                <label class="input-label" asp-for="Texto"></label>
                <input class="form-control" asp-for="Texto">
                <label class="input-label" asp-for="TipoId"></label>
                <select class="form-control" asp-for="TipoId" asp-items="ViewBag.ListaTipos"></select>

                <div class="mt-3">
                    <button class="btn btn-primary" type="submit">Adicionar</button>
                    <a class="btn btn-secondary" asp-action="Index" asp-route-clienteId='@ViewData["ClienteId"]'>Retornar</a>
                </div> 
            </form>
        </div>
    </div>
</div>